@model IEnumerable<WebApplication.Models.StaffDetailModel>
<!--============================
        About Page Header
    =============================-->
<style>
    th {
        font-size: 14px;
        font-weight: 500;
        background-color: #c40e05;
        color:white;
    }
    td {
        font-size: 14px;
    }
    .table > tbody > tr > td, .table > tbody > tr > th{padding:5px;}
</style>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> Faculty Details </h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active"> Faculty Details </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="all-teachers-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_FaculitySidebar.cshtml", 4)
            </div>
            <div class="col-sm-9">
                <h1 style="text-align:center">Staff Detail</h1>
                <table class="table" border="1">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                        </tr>
                        <tr>
                            <td>Ms. Radhika Jain</td>
                            <td>Director</td>
                        </tr>
                        <tr>
                            <td>Ms. Sunita Kumari </td>
                            <td>Principal </td>
                        </tr>
                        <tr>
                            <td>Ms. Maninder Kaur </td>
                            <td>Vice Principal </td>
                        </tr>
                        <tr>
                            <td>Mr. Parveen Thakur</td>
                            <td>Admin Coordinator</td>
                        </tr>
                        <tr>
                            <td>Mr. Mohandeep</td>
                            <td>Coordinator</td>
                        </tr>
                    </tbody>
                </table>
                <h1 style="text-align:center">Office Executives</h1>
                <table class="table" border="1">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            
                        </tr>
                        <tr>
                            <td>Mr. Ranbir Rana</td>
                            
                        </tr>
                        <tr>
                            <td>Mr. Sanjeev Kumar</td>
                            
                        </tr>
                        <tr>
                            <td>Ms. Pooja Bhardwaj </td>
                            
                        </tr>
                        <tr>
                            <td>Ms. Shivani</td>
                            
                        </tr>
                        <tr>
                            <td>Ms. Pooja</td>
                            
                        </tr>
                        <tr>
                            <td>Ms. Vanisha</td>
                            
                        </tr>
                    </tbody>
                </table>
                <table class="table" border="1" cellpadding="10" style="width:100%">
                    <tbody>
                        <tr>
                            <th>Dept. of English</th>
                            <th>Dept. of Mathematics</th>
                            <th>Dept. of Science</th>
                            <th>Dept. of Social Science</th>
                            <th>Dept. of Commerce</th>
                        </tr>
                        <tr>
                            <td>
                                Ms. Rozy<br />
                                Ms. Anjali<br />
                                Ms. Veena Rani<br />
                                Ms. Kalpna<br />
                                Ms. Jaspreet Kaur<br />
                                Ms. Prerna<br />
                                Ms. Kanika<br />
                                Ms. Nivay<br />
                            </td>
                            <td>
                                Mr. Rohit Gupta<br />
                                Ms. Harsharan Kaur<br />
                                Ms. Renu Arora<br />
                                Ms. Neha<br />
                                Ms. Inderjeet Kaur<br />
                                Ms. Anjali Dhir<br />
                                Ms. Sonia Khurana<br />
                            </td>
                            <td>
                                Ms. Maninder Kaur<br />
                                Ms. Neelam<br />
                                Ms. Madhuri<br />
                                Ms. Hitasha<br />
                                Ms. Pankaj<br />
                                Ms. Priya<br />
                                Ms. Navneet Kaur<br />
                                Ms. Khushboo<br />
                            </td>
                            <td>
                                Ms. Pooja Sharma<br />
                                Mr. Parveen Thakur<br />
                                Ms. Pragati<br />
                                Mr. Gautam<br />
                                Ms. Tipsy<br />
                                Ms. Gurpreet<br />
                                Ms. Bindu Dhir<br />
                                Ms. Jyoti<br />
                            </td>
                            <td>
                                Ms. Anupama Sidana<br />
                                Ms. Indira Tangri<br />
                                Mr. Suraj Parkash<br />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" border="1" cellpadding="10" style="width:100%">
                    <tbody>
                        <tr>
                            <th>Dept. of Hindi</th>
                            <th>Dept. of Punjabi</th>
                            <th>Dept. of Computer</th>
                            <th>Dept. of Sports</th>
                            <th>Dept. of Arts</th>
                        </tr>
                        <tr>
                            <td>
                                Ms. Suman Sharma<br />
                                Ms. Rachu<br />
                                Ms Chandni<br />
                                Ms. Baldina<br />
                                Ms. Sunita Chauhan<br />
                            </td>
                            <td>
                                Ms. Gurpreet Kaur<br />
                                Ms. Rimpy<br />
                                Ms.  Harpreet<br />
                                Ms. Renuka<br />
                                Ms Neha Sehgal<br />
                                Ms Jaspreet<br />
                            </td>
                            <td>
                                Mr. Mohandeep<br />
                                Mr. Jaswinder Singh<br />
                                Ms. Parul<br />
                                Ms Shivani<br />
                            </td>
                            <td>
                                Mr. Gopal Thakur<br />
                                Mr. Manish Kumar<br />
                                Ms. Harwinder Kaur<br />
                                Mr. Gurbax Singh<br />
                            </td>
                            <td>
                                Ms. Harpreet Kaur<br />
                                Ms. Jyoti<br />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" border="1">
                    <tbody>
                        <tr>
                            <th>Dept. of Music & Dance</th>
                            <th>Supporting Staff</th>
                            <th>Primary  & Pre – Primary  Teachers</th>                            
                        </tr>
                        <tr>
                            <td>
                                Ms. Rita<br />
                                Ms. Vaishali<br />
                            </td>
                            <td>
                                Ms. Priyanka (Librarian)<br />
                                Ms. Pushpinder Kaur (lab Asst.)<br />
                                Ms. Jaiwanti<br />
                                Ms. Bhawna (Counsellor)
                            </td>
                            <td>
                                Ms. Vanita Kashyap<br />
                                Ms. Teenu Chadha<br />
                                Ms. Gurrpeet Kaur<br />
                                Ms. Poonam<br />
                                Ms. Teema<br />
                                Ms. Kiran Sharma<br />
                                Ms. Pooja Jain<br />
                                Ms. KIran Gulati<br />
                                Ms. Shakuntla<br />
                                Ms. Jyoti Aggarwal<br />
                                Ms. Mudita<br />
                                Ms. Amandeep<br />
                                Ms. Nancy<br />
                                Ms. Rachna<br />
                                Ms. Geetu<br />
                                Ms. Rinki<br />
                                Ms. Neeru<br />
                                Ms. Hardeep<br />
                                Ms. Jeewan Jyoti<br />
                            </td>                            
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <link rel="stylesheet" href="~/Content/Client/js/tabs/style.css">
    <script src="~/Content/Client/js/tabs/index.js"></script>
}