@model IEnumerable<WebApplication.Models.CircularsModel>

<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>School Circulars</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">School Circulars</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_CircularsSidebar.cshtml", 12)
            </div>
            @*<div class="col-sm-9">
            <iframe src="https://docs.google.com/viewer?embedded=true&url=http://hvmsrsecschool.org/Content/files/Co-Cir.docx" height="1200px" width="100%"></iframe>
        </div>*@
            <div class="col-md-9 col-sm-8 ">
                <h3>School Circulars</h3>
                <div class="forum-wrapper">
                    @*<div class="forum-search">
                <div class="col-sm-3 pad_zero">
                    <p class="justify">Enter Admission Number *</p>
                </div>
                <div class="col-sm-6">
                    <form action="#">
                        <input type="text" id="txt_search" placeholder="Enter Admission Number">
                        <button type="submit"><i class="fa fa-text"></i></button>
                    </form>
                </div>
                <div class="col-md-2 col-sm-8"> <a href="" onclick="this.href='transfer-certificate?text='+document.getElementById('txt_search').value" class="el-btn-medium">Search</a> </div>
                <div class="h20"></div>
            </div>*@
                    <!-- Ends: .forum-search -->
                    <!-- Ends: .forum-header -->
                    <!-- Ends: .forum-content -->
                </div>
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Title </th>
                                <th>Date</th>
                                <th>Download </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.Title</td><td>@item.CreateByDate</td><td><span><a target="_self" href="~/Content/files/circulars/@item.FileName">Download</a></span></td><td><span><a target="_blank" href="~/Content/files/circulars/@item.FileName">View</a></span></td></tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>