<!--============================
        About Page Header
    =============================-->
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>School Circulars</h1>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">School Circulars</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ends: .page-header -->
<!--============================
        About Page Content
    =============================-->
<section class="about-ds">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                @Html.Partial("~/Areas/Client/Views/Shared/_CircularsSidebar.cshtml", 12)
            </div>
            <div class="col-sm-9">
                <iframe src="https://docs.google.com/viewer?embedded=true&url=http://localhost:51800/Content/files/circulars/lunch-03-14-2020-4702.doc" height="1200px" width="100%"></iframe>
            </div>
        </div>
    </div>
</section>