@model IEnumerable<WebApplication.Models.NewsModel>

<div class="bluebox-border">
    <div class="bluebox">Latest News</div>
    <div class="arrow-blue"></div>
    <marquee direction="up" height="270" scrollamount="2" onMouseOver="this.stop();" onMouseOut="this.start();">
        <ul class="news_marquee">
            @foreach (var item in Model)
            {
                <li>
                    <h5><strong>@item.Title</strong></h5>
                    <span>@Html.Raw(item.Description)</span> <br />
                    <a href="~/Content/files/News/@item.FileName" target="_blank">@item.ShortDescription</a>
                </li>
            }
        </ul>
    </marquee>
    <div class="clear h10"></div>
    <div align="center"><a href="@Url.Action("News","Home")" class="el-btn-regular">View All</a></div>
    <div class="clear h10"></div>
</div>