<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HVM Convent Sr. Sec. School</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/Client/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Content/Client/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/Content/Client/css/assets/bootstrap.min.css">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/Content/Client/css/assets/normalize.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/Content/Client/css/font-awesome.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/Content/Client/css/assets/owl.carousel.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/Content/Client/css/assets/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/Client/css/assets/animate.css">
    <!-- Mean Menu -->
    <link rel="stylesheet" href="/Content/Client/css/assets/meanmenu.css">
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/Content/Client/css/assets/revolution/layers.css">
    <link rel="stylesheet" href="/Content/Client/css/assets/revolution/navigation.css">
    <link rel="stylesheet" href="/Content/Client/css/assets/revolution/settings.css">
    <link rel="stylesheet" href="/Content/Client/css/assets/revolution/revicons/revicons.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500%7CRoboto+Slab:300,500,400,700" rel="stylesheet">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/Content/Client/css/assets/slick.css">
    <link rel="stylesheet" href="/Content/Client/css/style.css">
    <link rel="stylesheet" href="/Content/Client/css/assets/responsive.css">
    <!-- CSS FOR DEMO - NOT INCLUDED IN MAIN FILES -->
    <link rel="stylesheet" href="/Content/Client/demo/demo.css">
</head>
<body>
    <!--==================
            Header
        ===================-->
    <header id="header-style02" class="header-style04">
        <!-- Header Top -->
        <div class="header-logo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6"><img src="/Content/Client/images/logo.png" class="img-responsive"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <div class="widget-content social-icon-t">
                            <ul class="list-unstyled" style="display:inline;">
                                <li style="display:inline; margin-left:7px;"><a href=""><img src="/Content/Client/images/facebook.png"></a></li>
                                <li style="display:inline; margin-left:7px;"><a href=""><img src="/Content/Client/images/twitter.png"></a></li>
                                <li style="display:inline; margin-left:7px;"><a href=""><img src="/Content/Client/images/youtube.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ends: .header-top -->
        <div class="main-menu">
            <div class="container">
                <div class="row">
                    <!-- Main Menu -->
                    <div class="col-sm-12">
                        <nav class="navbar" id="main-nav">
                            <div class="containers">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#edulight-navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    <!-- Change Logo Here -->
                                </div>
                                <!-- End .navbar-header -->
                                <div class="collapse navbar-collapse" id="edulight-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="">Home</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="origins-and-history.htm">Origins & History</a></li>
                                                <li class="dropdown-submenu">
                                                    <a href="#">Messages</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="presidents-message.htm">President's Message</a></li>
                                                        <li><a href="directors-message.htm">Director's Message</a></li>
                                                        <li><a href="principals-message.htm">Principal's Message</a></li>
                                                    </ul>
                                                <li><a href="vision-and-mission.htm">Vision & Mission</a></li>
                                                <li><a href="mandatory-disclosure.htm">Mandatory Disclosure</a></li>
                                                <li><a href="course-offered.htm">Course Offered</a></li>
                                                <li><a href="affiliation-to-cbse">Affiliation to CBSE</a></li>
                                                <li><a href="">HVM Management</a></li>
                                                <li><a href="">Staff Details</a></li>
                                                <li><a href="">Our Infrastructure</a></li>
                                                <li><a href="">Our Facilities</a></li>
                                                <li><a href="">Our Rules</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Teacher -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admission</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Admission Rules</a></li>
                                                <li><a href="">Fee Structure</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Pages -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Sports</a></li>
                                                <li><a href="">Activities & Events</a></li>
                                                <li><a href="">On Roll</a></li>
                                                <li><a href="">Transfer Certificate</a></li>
                                                <li><a href="">Download</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Pages -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a href="#">Gallery</a> <i class="fa fa-angle-right"></i>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="">Session 2016-17</a></li>
                                                        <li><a href="">Session 2016-17</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="">Video</a></li>
                                            </ul>
                                        </li>
                                        <!-- end gallery -->
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achievements</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Our Toppers</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Contact -->
                                        <li><a href="">Kindergarten</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="">Date Sheet</a></li>
                                                <li><a href="">Schedule</a></li>
                                                <li><a href="">Result</a></li>
                                            </ul>
                                        </li>
                                        <!-- End Contact -->
                                        <li><a href="">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- .navbar-collapse -->
                            </div>
                            <!-- .container -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ends: .main-menu -->
    </header>
    <!-- ends: Header -->
    <!--==================
            Slider
        ===================-->
    <section class="slider slider-style02 slider-university">
        <div class="rev_slider_wrapper">
            <div id="rev_slider_4" class="rev_slider" style="display:none">
                <!-- BEGIN SLIDES LIST -->
                <ul>
                    <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="/Content/Client/images/slide01-thumb.jpg">
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="/Content/Client/images/slide01.jpg" alt="Sky" class="rev-slidebg">
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="['left', 'center', 'center', 'center']" data-hoffset="0"
                             data-y="center" data-voffset="50"
                             data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:32px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">Welcome to</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="110"
                             data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:40px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">HVM Convent Sr. Sec. School</div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="175"
                             data-frames='[{"delay":2000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 7; font-size:20px; color:#fff; font-family:'Roboto', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;  background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">
                            Our aim is that students work with enthusiasm and interest<br>
                            because God always blesses and helps those who help themselves.
                        </div>
                    </li>
                    <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="/Content/Client/images/slide02-thumb.jpg">
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="/Content/Client/images/slide02.jpg" alt="Sky" class="rev-slidebg">
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="['left', 'center', 'center', 'center']" data-hoffset="0"
                             data-y="center" data-voffset="50"
                             data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:32px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">Welcome to</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="110"
                             data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:40px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">HVM Convent Sr. Sec. School</div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="175"
                             data-frames='[{"delay":2000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 7; font-size:20px; color:#fff; font-family:'Roboto', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;  background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">
                            Our aim is that students work with enthusiasm and interest<br>
                            because God always blesses and helps those who help themselves.
                        </div>
                    </li>
                    <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="/Content/Client/images/slide03-thumb.jpg">
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="/Content/Client/images/slide03.jpg" alt="Sky" class="rev-slidebg">
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="['left', 'center', 'center', 'center']" data-hoffset="0"
                             data-y="center" data-voffset="50"
                             data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:32px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">Welcome to</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="110"
                             data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 6; font-size:40px; color:#fff; text-transform:capitalize; font-family:'Roboto Slab', serif; white-space: nowrap; font-weight:600; background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">HVM Convent Sr. Sec. School</div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5"
                             data-x="left" data-hoffset="0"
                             data-y="center" data-voffset="175"
                             data-frames='[{"delay":2000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                             style="z-index: 7; font-size:20px; color:#fff; font-family:'Roboto', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;  background-color: rgba(0, 0, 0, 0.7); padding:0 15px;">
                            Our aim is that students work with enthusiasm and interest<br>
                            because God always blesses and helps those who help themselves.
                        </div>
                    </li>
                </ul>
                <!-- END SLIDES LIST -->
            </div>
            <!-- END SLIDER CONTAINER -->
        </div>
        <!-- END SLIDER CONTAINER WRAPPER -->
    </section>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="section-header04 section-header-g">
                        <h2>Welcome To <span>HVM</span></h2>
                        <span class="section-devider"><span><i class="fa fa-circle"></i></span></span>
                    </div>
                    <p>
                        HVM Convent School is promoted under the umbrella of Harsh Education Society (Regd.). President Mr. D.P. Sharma who is a great visionary in the field of Education and Chairperson Mrs. Meena Sharma, a renowned Educationist fulfilled the dream of starting a CBSE school on April 1, 2009 with the vision and mission for the holistic development of each child through quality education.<br>
                        <br>
                        It came into existence in April 2009 with classes from Nursery to VIII. Now it takes pride in the galaxy of 2000 students up to XII. It is located on a sprawling 2 (two) acre area. The infrastructural facilities of the school are excellent and are equipped with modern educational and allied amenities.
                    </p>
                    <a href="" class="el-btn-regular">Read More</a>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="bluebox-border">
                        <div class="bluebox">Latest News</div>
                        <div class="arrow-blue"></div>
                        <marquee direction="up" height="270" scrollamount="2" onMouseOver="this.stop();" onMouseOut="this.start();">
                            <ul class="news_marquee">
                                <li>
                                    <h5><strong>Volleyball zonal level tournament(pau zonal)</strong></h5>
                                    <a href="" target="_blank"> HVM Convent School Students under 19 Got second Position in VollEyball. Deepti under 17 has been selected for District Level.</a>
                                </li>
                                <li>
                                    <h5><strong>Conquest IQ Olympiad winner</strong></h5>
                                    <a href="" target="_blank">
                                        Ritika of Class I brought laurel to school by winning All India III Rank in Conquest
                                        IQ Olympiad session 2016 - 17.
                                    </a>
                                </li>
                                <li>
                                    <h5><strong>Change in school timings</strong></h5>
                                    School Timings w.e.f November 20,2017 will be as follows:-<br>
                                    <br>
                                    Class Pre Nur (Monday to Saturday) :-<br>
                                    8:30 AM to 1:00 PM<br>
                                    Classes Nur, KG, XI &amp; XII (Monday to Saturday) :-<br>
                                    8:30 AM to 1:10 PM<br>
                                    Classes I to X (Monday to Friday):- <br>
                                    8:30 AM to 2:20<br>
                                    PM
                                    (Saturday):- 8:30 AM to 1:10 PM
                                </li>
                                <li>
                                    <h5><strong>Volleyball zonal level tournament(pau zonal)</strong></h5>
                                    <a href="" target="_blank"> HVM Convent School Students under 19 Got second Position in VollEyball. Deepti under 17 has been selected for District Level.</a>
                                </li>
                            </ul>
                        </marquee>
                        <div class="clear h10"></div>
                        <div align="center"><a href="" class="el-btn-regular">View All</a></div>
                        <div class="clear h10"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slider-bottom-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-box">
                        <div class="service-icon"> <img src="/Content/Client/images/vision.png" alt="" /> </div>
                        <div class="service-info">
                            <h3>Our Vision</h3>
                            <p>HVM Convent will promote quality and Holistic Development in learning process by building Knowledge with life skill perspective and values so as to nurture citizens who will meet all challenges of a dynamic society. </p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .col-sm-3 -->
                <div class="col-sm-4">
                    <div class="service-box">
                        <div class="service-icon"> <img src="/Content/Client/images/mission.png" alt="" /> </div>
                        <div class="service-info">
                            <h3>Our Mission</h3>
                            <p>To provide the students a conducive and dynamic learning environment, creating a proper platform so that they can work towards attainment of their goals and enrich the society with their works and values</p>
                        </div>
                    </div>
                </div>
                <!-- Ends: .col-sm-3 -->
                <div class="col-sm-4">
                    <div class="service-box">
                        <div class="service-icon"> <img src="/Content/Client/images/moto.png" alt="" /> </div>
                        <div class="service-info">
                            <h3>Our Moto</h3>
                            <p>‘Work is Worship’ mean - Children must treat the work they do as an art of worship so that they can rise and roar high to reach the pinnacle of glory and make us proud.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ends: .slider-bottom-services -->
    <!--==================
            Courses
        ===================-->
    <section class="all-course-wrapper online-course-list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-header04 section-header-d" align="center">
                    <h2>Course <span>Offered</span></h2>
                    <p>Subjects offered in Senior Secondary Classes</p>
                    <span class="section-devider"><span><i class="fa fa-circle"></i></span></span>
                </div>
                <div class="col-md-12">
                    <div class="course-container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="online-course-single">
                                    <figure> <img src="/Content/Client/images/medical.jpg" alt="" class="img-responsive"> </figure>
                                    <div class="online-course-details">
                                        <h3>Medical & Non-Medical</h3>
                                        <h5>1. English Core</h5>
                                        <h5>2. Physics</h5>
                                        <h5>3. Chemistry</h5>
                                        <h5>4. Biology/Maths</h5>
                                        <!-- Ends: .course-excerpt -->
                                        <div class="course-excerpt-bottom"> &nbsp; </div>
                                        <!-- Ends: .course-excerpt-bottom -->
                                        <div class="course-details-btn"> <a href="">View Details</a> </div>
                                        <!-- Ends: .course-details-btn -->
                                    </div>
                                    <!-- Ends: .online-course-details -->
                                </div>
                                <!-- Ends: .online-course-single -->
                            </div>
                            <!-- Ends: .col-sm-4 -->
                            <div class="col-md-4 col-sm-6">
                                <div class="online-course-single">
                                    <figure> <img src="/Content/Client/images/commerce.jpg" alt="" class="img-responsive"> </figure>
                                    <div class="online-course-details">
                                        <h3>Commerce</h3>
                                        <h5>1. English Core</h5>
                                        <h5>2. Business Studies </h5>
                                        <h5>3. Accountancy</h5>
                                        <h5>4. Economics</h5>
                                        <!-- Ends: .course-excerpt -->
                                        <div class="course-excerpt-bottom"> &nbsp; </div>
                                        <!-- Ends: .course-excerpt-bottom -->
                                        <div class="course-details-btn"> <a href="">View Details</a> </div>
                                        <!-- Ends: .course-details-btn -->
                                    </div>
                                    <!-- Ends: .online-course-details -->
                                </div>
                                <!-- Ends: .online-course-single -->
                            </div>
                            <!-- Ends: .col-sm-4 -->
                            <div class="col-md-4 col-sm-6">
                                <div class="online-course-single">
                                    <figure> <img src="/Content/Client/images/humanities.jpg" alt="" class="img-responsive"> </figure>
                                    <div class="online-course-details">
                                        <h3>Humanities</h3>
                                        <h5>1. English Core</h5>
                                        <h5>2. Punjabi</h5>
                                        <h5>3. Economics</h5>
                                        <h5>4. Hindi Core</h5>
                                        <!-- Ends: .course-excerpt -->
                                        <div class="course-excerpt-bottom"> &nbsp; </div>
                                        <!-- Ends: .course-excerpt-bottom -->
                                        <div class="course-details-btn"> <a href="">View Details</a> </div>
                                        <!-- Ends: .course-details-btn -->
                                    </div>
                                    <!-- Ends: .online-course-details -->
                                </div>
                                <!-- Ends: .online-course-single -->
                            </div>
                            <!-- Ends: .col-sm-4 -->
                        </div>
                    </div>
                    <!-- Ends: .course-container -->
                    <!-- Ends: .blog-pagination -->
                </div>
                <!-- Ends: .col-md-12 -->
            </div>
        </div>
    </section>
    <!-- Ends: .course-main -->
    <!--==================
            Testimonial
        ===================-->
    <section class="testimonial testimonial-style02">
        <div class="container">
            <div class="row">
                <div id="testimonial-carousel02" class="owl-carousel testimonial-carousel02 col-sm-12">
                    <div class="testimonial-single row">
                        <div class="col-sm-6">
                            <div class="ts-left">
                                <div class="client-image"> <img src="/Content/Client/images/president.jpg" alt="" class="img-responsive"> </div>
                                <div class="client-content">
                                    <h3 class="client-info">
                                        Mr. D.P. Sharma <br>
                                        <span>President</span>
                                    </h3>
                                    <br>
                                    <p>The management and staff of HVM Convent strive to provide the students with good opportunities and a proper platform so that they can work towards attainment of their personal goals thus helping to fulfill the goals of the society..</p>
                                    <div align="right"><a href="" class="el-btn-regular">read more</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="ts-right">
                                <div class="client-content">
                                    <h3 class="client-info">
                                        Ms. Meena Sharma <br>
                                        <span>Director</span>
                                    </h3>
                                    <br>
                                    <p>Work is Worship' is not a mere slogan but the prime goal of Quality Development in learning process by building knowledge, life skills perspectives and values of a student to transform the society...</p>
                                    <div align="left"><a href="" class="el-btn-regular">read more</a></div>
                                </div>
                                <div class="client-image"> <img src="images/director.jpg" alt="" class="img-responsive"> </div>
                            </div>
                        </div>
                    </div>
                    <!-- ends: .testimonial-single -->
                    <div class="testimonial-single row">
                        <div class="col-sm-9">
                            <div class="ts-left">
                                <div class="client-image"> <img src="images/principal.jpg" alt="" class="img-responsive"> </div>
                                <div class="client-content">
                                    <h3 class="client-info">
                                        Ms. Radhika Jain<br>
                                        <span>Principal</span>
                                    </h3>
                                    <br>
                                    <p>Thank you for your interest in HVM Convent Sr. Sec. School I sincerely hope that you will appreciate the spirit of your school The Warmth,Purpose and Dedication to succeed. I  believe    that every child  deserves and needs a high quality broad based education in order to succeed in life. HVM Convent Sr. Sec. School is big enough to possess all prime  facilities and small    enough to identify & provide for  the needs of each individual learner. </p>
                                    <div align="right"><a href="" class="el-btn-regular">read more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ends: .testimonial-single -->
                </div>
            </div>
        </div>
    </section>
    <!-- ends: .testimonial -->
    <section class="courses-main">
        <div class="container-custom">
            <div class="row">
                <div class="col-sm-12 section-header04 section-header-d" align="center">
                    <h2>Our <span>Toppers</span></h2>
                    <span class="section-devider"><span><i class="fa fa-circle"></i></span></span>
                </div>
                <div class="col-sm-6">
                    <div class="section-header04 section-header-d">
                        <h3>Class <span>10th</span></h3>
                    </div>
                    <div class="course-carousel-main owl-carousel">
                        <div class="online-course-single">
                            <img src="images/10th/amandeep-singh.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3>Amandeep Singh</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                            <div class="clear"></div>
                        </div>
                        <div class="online-course-single">
                            <img src="images/10th/anshika.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3>Anshika Gupta</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/10th/anubhav.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anubhav Goyal</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/10th/amandeep-singh.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3>Amandeep Singh</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                            <div class="clear"></div>
                        </div>
                        <div class="online-course-single">
                            <img src="images/10th/anshika.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3>Anshika Gupta</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/10th/anubhav.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anubhav Goyal</h3>
                                <p class="price-tag">CGPA-10</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                    </div>
                </div>
                <!-- Ends: .course-carousel-main -->
                <div class="col-sm-6">
                    <div class="section-header04 section-header-d">
                        <h3>Class <span>12th</span></h3>
                    </div>
                    <div class="course-carousel-main owl-carousel">
                        <div class="online-course-single">
                            <img src="images/12th/anjali.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anjali</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/12th/anshul-gandotra.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anshul Gandotra</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/12th/anshul-joshi.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anshul Joshi</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/12th/anjali.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anjali</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/12th/anshul-gandotra.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anshul Gandotra</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                        <div class="online-course-single">
                            <img src="images/12th/anshul-joshi.jpg" alt="" class="img-responsive">
                            <div class="online-course-details" align="center">
                                <h3> Anshul Joshi</h3>
                                <p class="price-tag">CGPA-1</p>
                            </div>
                            <!-- Ends: .online-course-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="all-course-wrapper events_bg events events-default02">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-header05 section-header-d header-dark" align="center">
                    <h2>Activities & <span>Events</span></h2>
                    <span class="section-devider"><span><i class="fa fa-circle"></i></span></span>
                </div>
                <div class="col-md-12">
                    <div class="events-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="event-single">
                                    <div class="event-image"> <img src="images/zonal-games.jpg" alt="" class="img-responsive"> </div>
                                    <div class="event-details">
                                        <h3>Zonal Games</h3>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-calendar"></i> 1st Jan, 2017</li>
                                            <li><i class="fa fa-clock-o"></i> 9.00am - 4.00pm</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipisic ing elit, sed diam nonummy nibh euismod tincidui nt ut laoreet dolore magna volutpat.</p>
                                        <a href="">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- ends: .event-single -->
                            <div class="col-sm-6">
                                <div class="event-single">
                                    <div class="event-image"> <img src="images/earth-day.jpg" alt="" class="img-responsive"> </div>
                                    <div class="event-details">
                                        <h3>Earth Day</h3>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-calendar"></i> 1st Jan, 2017</li>
                                            <li><i class="fa fa-clock-o"></i> 8.00am - 5.00pm</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipisic ing elit, sed diam nonummy nibh euismod tincidui nt ut laoreet dolore magna volutpat.</p>
                                        <a href="">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ends: .row -->
                        <div class="row">
                            <!-- ends: .event-single -->
                            <div class="col-sm-6">
                                <div class="event-single">
                                    <div class="event-image"> <img src="images/mother-day.jpg" alt="" class="img-responsive"> </div>
                                    <div class="event-details">
                                        <h3>Mother's Day</h3>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-calendar"></i> 1st Jan, 2017</li>
                                            <li><i class="fa fa-clock-o"></i> 8.00am - 5.00pm</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipisic ing elit, sed diam nonummy nibh euismod tincidui nt ut laoreet dolore magna volutpat.</p>
                                        <a href="">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="event-single">
                                    <div class="event-image"> <img src="images/pool-party.jpg" alt="" class="img-responsive"> </div>
                                    <div class="event-details">
                                        <h3>Pool Party</h3>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-calendar"></i> 1st Jan, 2017</li>
                                            <li><i class="fa fa-clock-o"></i> 9.00am - 4.00pm</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipisic ing elit, sed diam nonummy nibh euismod tincidui nt ut laoreet dolore magna volutpat.</p>
                                        <a href="">Read More <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ends: .row -->
                    </div>
                    <!-- ends: .event-block -->
                    <!-- Ends: .blog-pagination -->
                </div>
                <!-- Ends: .col-md-12 -->
            </div>
        </div>
    </section>
    <section class="kids-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"><img src="images/kids.png" class="img-responsive"></div>
                <div class="col-sm-6 kids-text">
                    <h2>Kindergarten <span>Section</span></h2>
                    <p>The aim of education should be to teach the "Child To Think , Not What To Think". Do And Learn' is the principal followed to improve children so that they can orient themselves to the tangible world of space and time to formulate their ideas. </p>
                    <a href="" class="el-btn-regular">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!--==================
            Footer
        ===================-->
    <footer class="footer-style03">
        <div class="container">
            <div class="row">
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="widget links">
                        <div class="widget-title">
                            <h2>Useful Links</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href="">Home</a></li>
                                <li> <a href="#">About Us</a></li>
                                <li><a href="">Course Offered</a></li>
                                <li><a href="">Our Infrastructure</a></li>
                                <li><a href="">Our Facilities</a></li>
                                <li><a href="">Admission Rules</a></li>
                                <li><a href="">Fee Structure</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="widget links">
                        <div class="widget-title">
                            <h2>&nbsp;</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href="#">Virtual Tour</a></li>
                                <li><a href="#">Press & Media</a></li>
                                <li><a href="">Download</a></li>
                                <li><a href="">Kindergarten</a></li>
                                <li><a href="">Date Sheet</a></li>
                                <li><a href="">Schedule</a></li>
                                <li><a href="">Result</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
                <div class="col-sm-5 col-md-3 col-lg-3">
                    <div class="widget about-widget">
                        <div class="widget-title">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="widget-content">
                            <h3 style="color:#FFFFFF; text-transform:capitalize; font-weight:normal;">HVM Convent Sr. Sec. School</h3>
                            <ul class="list-unstyled">
                                <li>Karamsar Colony, New Subash Nagar, Ludhiana, Punjab.</li>
                                <li><i class="fa fa-phone"></i> O161 - 2632407, 2632408</li>
                                <li><i class="fa fa-envelope"></i> info@yourcompany.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- ends: .widget -->
                </div>
                <div class="col-sm-5 col-md-3 col-lg-4">
                    <div class="widget subscribe">
                        <div class="widget-title">
                            <h2>Photo Gallery</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="sidebar-gallery">
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-1.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-2.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-3.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-4.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-5.jpg" alt=""></a></li>
                                <li><a href="photogallery.aspx"><img src="/Content/Client/images/thumb-6.jpg" alt=""></a></li>
                            </ul>
                            <a href="" class="el-btn-regular2" style="margin-top:10px">View Our Gallery</a>
                        </div>
                    </div>
                    <div class="widget footer-social">
                        <div class="widget-title">
                            <h2>Follow Us</h2>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ends: .col-sm-3 -->
            </div>
        </div>
    </footer>
    <!-- ends: Footer -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="row">
                    <div class="col-md-12 col-sm-12" align="center">
                        <p>&copy; Copyright 2017 HVM Convent Sr. Sec. School. All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="fixed_quote2"><a href=""><img src="/Content/Client/images/admissions-open-tag.png"></a></div>*@
    <!--==================
            JS Files
        ===================-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/Content/Client/js/assets/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <!-- Bootstrap -->
    <script src="/Content/Client/js/assets/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/Content/Client/js/assets/owl.carousel.min.js"></script>
    <!-- Revolution Slider -->
    <script src="/Content/Client/js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="/Content/Client/js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/Content/Client/js/assets/jquery.magnific-popup.min.js"></script>
    <!-- Countdown JS -->
    <script src="/Content/Client/js/assets/jquery.syotimer.min.js"></script>
    <!-- Sticky JS -->
    <script src="/Content/Client/js/assets/jquery.sticky.js"></script>
    <!-- Slick Carousel -->
    <script src="/Content/Client/js/assets/slick.min.js"></script>
    <!-- Mean Menu -->
    <script src="/Content/Client/js/assets/jquery.meanmenu.min.js"></script>
    <!-- Mail JS -->
    <script src="/Content/Client/js/assets/mail.js"></script>
    <!-- Revolution Extensions -->
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/Content/Client/js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <!-- Custom JS -->
    <script src="/Content/Client/js/plugins.js"></script>
    <script src="/Content/Client/js/custom.js"></script>
    <!-- =========================================================
             STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ============================================================== -->
</body>
</html>